# DW_pandas_Task8

## 20210105

DataWhale_pandas组队学习第八章，文本数据，坚持坚持！！！

### str对象

In [1]:
import pandas as pd
import numpy as np

In [2]:
s = pd.Series(['abcd', 'efg', 'hi'])
s.str

In [3]:
s.str.upper()

0    ABCD
1     EFG
2      HI
dtype: object

In [4]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

根据文档API材料，在pandas的50个str对象方法中，有31个是和标准库中的str模块方法同名且功能一致，这为批量处理序列提供了有力的工具。

In [5]:
s.str[2:4]

0    cd
1     g
2
dtype: object

In [6]:
s.str[-1:2]

0
1
2    i
dtype: object

In [7]:
s.str[0]

0    a
1    e
2    h
dtype: object

In [8]:
s.str[-1]

0    d
1    g
2    i
dtype: object

这个切片是每一行取值，刚看的时候有点蒙，现在明白了，有就会显示数据，没有就没有。

In [9]:
s = pd.Series([{1: 'temp_1', 2: 'temp_2'}, ['a', 'b'], 0.5, 'my_string'])
s.str[1]

0    temp_1
1         b
2       NaN
3         y
dtype: object

In [10]:
s

0    {1: 'temp_1', 2: 'temp_2'}
1                        [a, b]
2                           0.5
3                     my_string
dtype: object

In [11]:
s.astype('string').str[1]

0    1
1    '
2    .
3    y
dtype: string

In [12]:
s.astype('string')

0    {1: 'temp_1', 2: 'temp_2'}
1                    ['a', 'b']
2                           0.5
3                     my_string
dtype: string

除了最后一个字符串元素，前三个元素返回的值都不同，其原因在于当序列类型为object时，是对于每一个元素进行[]索引，因此对于字典而言，返回temp_1字符串，对于列表则返回第二个值，而第三个为不可迭代对象，返回缺失值，第四个是对字符串进行[]索引。而string类型的str对象先把整个元素转为字面意义的字符串，例如对于列表而言，第一个元素即 "{"，而对于最后一个字符串元素而言，恰好转化前后的表示方法一致，因此结果和object类型一致。

除了对于某些对象的str序列化方法不同之外，两者另外的一个差别在于，string类型是Nullable类型，但object不是。这意味着string类型的序列，如果调用的str方法返回值为整数Series和布尔Series时，其分别对应的dtype是Int和boolean的Nullable类型，而object类型则会分别返回int/float和bool/object，取决于缺失值的存在与否。同时，字符串的比较操作，也具有相似的特性，string返回Nullable类型，但object不会。

解释的很详细，但还是直观看运行结果更加清晰，因为看不懂专业术语😭

In [13]:
s = pd.Series(['a'])
s.str.len()

0    1
dtype: int64

In [14]:
s.astype('string').str.len()

0    1
dtype: Int64

In [15]:
s == 'a'

0    True
dtype: bool

In [16]:
s.astype('string') == 'a'

0    True
dtype: boolean

In [17]:
s = pd.Series(['a', np.nan]) # 带有缺失值

In [18]:
s.str.len()

0    1.0
1    NaN
dtype: float64

In [19]:
s.astype('string').str.len()

0       1
1    <NA>
dtype: Int64

In [20]:
s == 'a'

0     True
1    False
dtype: bool

In [21]:
s.astype('string') == 'a'

0    True
1    <NA>
dtype: boolean

In [22]:
s = pd.Series([12, 345, 6789])
s.astype('string').str[1]

0    2
1    4
2    7
dtype: string

In [23]:
s

0      12
1     345
2    6789
dtype: int64

In [24]:
s.astype('string')

0      12
1     345
2    6789
dtype: string

需要注意的是，对于全体元素为数值类型的序列，即使其类型为object或者category也不允许直接使用str属性。如果需要把数字当成string类型处理，可以使用astype强制转换为string类型的Series。

转换后的类型有明显区别，由int64转为string，有点跟我写的猜数字游戏的用法差不多，随机生成的四位数字改为字符串，和输入的四位数字进行逐渐位对比，这样可以按切片排列取数据。

### 正则表达式基础

In [25]:
import re
re.findall('Apple', 'Apple! This Is an Apple!')

['Apple', 'Apple']

正则表达式是一种按照某种正则模式，从左到右匹配字符串中内容的一种工具。对于一般的字符而言，它可以找到其所在的位置，这里为了演示便利，使用了python中re模块的findall函数来匹配所有出现过但不重叠的模式，第一个参数是正则表达式，第二个参数是待匹配的字符串。例如，在下面的字符串中找出apple

|元字符 |   描述 |
| :-----| ----: |
|.       |    匹配除换行符以外的任意字符|
|\[ \]     |      字符类，匹配方括号中包含的任意字符|
|\[^ \]     |      否定字符类，匹配方括号中不包含的任意字符|
|\*       |    匹配前面的子表达式零次或多次|
|\+       |    匹配前面的子表达式一次或多次|
|?        |   匹配前面的子表达式零次或一次|
|{n,m}    |       花括号，匹配前面字符至少 n 次，但是不超过 m 次|
|(xyz)   |        字符组，按照确切的顺序匹配字符xyz|
|\|     |      分支结构，匹配符号之前的字符或后面的字符|
|\\    |       转义符，它可以还原元字符原来的含义|
|^    |       匹配行的开始|
|$   |        匹配行的结束|

In [26]:
re.findall('.', 'abc')

['a', 'b', 'c']

In [27]:
re.findall('[ac]', 'abc')

['a', 'c']

In [28]:
re.findall('[^ac]', 'abc')

['b']

In [29]:
re.findall('a*', 'aaabbb')

['aaa', '', '', '', '']

In [30]:
re.findall('a+', 'aaabbb')

['aaa']

In [31]:
re.findall('[ab]{2}', 'aaaabbbb')

['aa', 'aa', 'bb', 'bb']

In [32]:
re.findall('a?.', 'abaacadaae')

['ab', 'aa', 'c', 'ad', 'aa', 'e']

In [33]:
re.findall('a\\?|a\*', 'aa?a*a')

['a?', 'a*']

In [34]:
re.findall('a\?|a\*', 'aa?a*a')

['a?', 'a*']

In [35]:
re.findall('a?|a*', 'aa?a*a')

['a', 'a', '', 'a', '', 'a', '']

这张表格是最基本的内容，但如何灵活运用却极其困难，原来跟过正则表达式的课程，听老师讲还能听懂，单独看很费神，要回头再去对比才能明白，最后的转义符示例没看明白，拆开取掉看，两 \\\\ 和单 \\ 没什么区别啊？当然拿掉意思就不一样了。

此外，正则表达式中还有一类简写字符集，其等价于一组字符的集合：

|简写    |  描述 |
| :-----| :---- |
|\\w     |   匹配所有字母、数字、下划线: \[a-zA-Z0-9\_\] |
|\\W     |   匹配非字母和数字的字符: \[^\\w\]|
|\\d     |   匹配数字: \[0-9\]|
|\\D   |     匹配非数字: \[^\\d\]|
|\\s    |    匹配空格符: \[\\t\\n\\f\\r\\p{Z}\]|
|\\S    |    匹配非空格符: \[^\\s\]|
|\\B  |      匹配一组非空字符开头或结尾的位置，不代表具体字符|

In [36]:
re.findall('.s', 'Apple! This Is an Apple!')

['is', 'Is']

In [37]:
re.findall('\w{2}', '09 8? 7w c_ 9q p@')

['09', '7w', 'c_', '9q']

In [38]:
re.findall('\w\W\B', '09 8? 7w c_ 9q p@')

['8?', 'p@']

In [39]:
re.findall('.\s.', 'Constant dropping wears the stone.')

['t d', 'g w', 's t', 'e s']

In [40]:
re.findall('上海市(.{2,3}区)(.{2,3}路)(\d+号)', '上海市黄浦区方浜中路249号 上海市宝山区密山路5号')

[('黄浦区', '方浜中路', '249号'), ('宝山区', '密山路', '5号')]

\\d+ 这玩意儿可以代表无穷大的数吧，只在你有，它都可以

### 文本处理的五类操作

In [41]:
s = pd.Series(['上海市黄浦区方浜中路249号', '上海市宝山区密山路5号'])
s.str.split('[市区路]')

0    [上海, 黄浦, 方浜中, 249号]
1       [上海, 宝山, 密山, 5号]
dtype: object

In [42]:
s.str.split('[市区路]', n=2, expand=True)

    0   1         2
0  上海  黄浦  方浜中路249号
1  上海  宝山     密山路5号

In [43]:
s.str.rsplit('[市区路]', n=2, expand=True)

                0
0  上海市黄浦区方浜中路249号
1     上海市宝山区密山路5号

In [44]:
S = "this is string example....wow!!!"
print (S.rsplit( ))
print (S.rsplit('i',1))
print (S.rsplit('w'))

['this', 'is', 'string', 'example....wow!!!']
['this is str', 'ng example....wow!!!']
['this is string example....', 'o', '!!!']

str.split能够把字符串的列进行拆分，其中第一个参数为正则表达式，可选参数包括从左到右的最大拆分次数n，是否展开为多个列expand。

与其类似的函数是str.rsplit，其区别在于使用n参数的时候是从右到左限制最大拆分次数。但是当前版本下rsplit因为bug而无法使用正则表达式进行分割。

版本问题无法看到到底rsplit有什么作用，在百度找了个例子看看

In [45]:
s = pd.Series([['a','b'], [1, 'a'], [['a', 'b'], 'c']])
s.str.join('-')

0    a-b
1    NaN
2    NaN
dtype: object

In [46]:
s1 = pd.Series(['a','b'])
s2 = pd.Series(['cat','dog'])
s1.str.cat(s2,sep='-')

0    a-cat
1    b-dog
dtype: object

In [47]:
s2.index = [1, 2]
s1.str.cat(s2, sep='-', na_rep='?', join='outer')

0      a-?
1    b-cat
2    ?-dog
dtype: object

关于合并一共有两个函数，分别是str.join和str.cat。str.join表示用某个连接符把Series中的字符串列表连接起来，如果列表中出现了字符串元素则返回缺失值，str.cat用于合并两个序列，主要参数为连接符sep、连接形式join以及缺失值替代符号na_rep，其中连接形式默认为以索引为键的左连接。

合并蛮有意思，有点跟merge的方式差不多。

In [48]:
s = pd.Series(['my cat', 'he is fat', 'railway station'])
s.str.contains('\s\wat')

0     True
1     True
2    False
dtype: bool

str.contains`返回了每个字符串是否包含正则模式的布尔序列：

In [49]:
s.str.startswith('my')

0     True
1    False
2    False
dtype: bool

In [50]:
s.str.endswith('t')

0     True
1     True
2    False
dtype: bool

str.startswith和str.endswith返回了每个字符串以给定模式为开始和结束的布尔序列，它们都不支持正则表达式。

这个只是用来匹配前后的字符串吧，既然不能用正则，只能用于简单的匹配判断。

In [51]:
s.str.match('m|h')

0     True
1     True
2    False
dtype: bool

In [52]:
s.str[::-1].str.match('ta[f|g]|n') # 反转后匹配

0    False
1     True
2     True
dtype: bool

In [53]:
s.str.contains('^[f|g]at|n$')

0    False
1    False
2     True
dtype: bool

如果需要用正则表达式来检测开始或结束字符串的模式，可以使用`str.match`，其返回了每个字符串起始处是否符合给定正则模式的布尔序列，当然，这些也能通过在`str.contains`的正则中使用`^`和`$`来实现

In [54]:
s = pd.Series(['This is an apple. That is not an apple.'])
s.str.find('apple')

0    11
dtype: int64

In [55]:
s.str.rfind('apple')

0    33
dtype: int64

除了上述返回值为布尔的匹配之外，还有一种返回索引的匹配函数，即str.find与str.rfind，其分别返回从左到右和从右到左第一次匹配的位置的索引，未找到则返回-1。需要注意的是这两个函数不支持正则匹配，只能用于字符子串的匹配。

我一直对布尔值的作用不是很理解，True和False是起到统计和判断作用吗？

In [56]:
s = pd.Series(['a_1_b','c_?'])
s.str.replace('\d|\?', 'new')

0    a_new_b
1      c_new
dtype: object

In [57]:
s = pd.Series(['上海市黄浦区方浜中路249号',
                '上海市宝山区密山路5号',
                '北京市昌平区北农路2号'])
pat = '(\w+市)(\w+区)(\w+路)(\d+号)'
city = {'上海市': 'Shanghai', '北京市': 'Beijing'}
district = {'昌平区': 'CP District',
            '黄浦区': 'HP District',
            '宝山区': 'BS District'}
road = {'方浜中路': 'Mid Fangbin Road',
        '密山路': 'Mishan Road',
        '北农路': 'Beinong Road'}
def my_func(m):
    str_city = city[m.group(1)]
    str_district = district[m.group(2)]
    str_road = road[m.group(3)]
    str_no = 'No. ' + m.group(4)[:-1]
    return ' '.join([str_city,
                     str_district,
                     str_road,
                     str_no])
s.str.replace(pat, my_func)

0    Shanghai HP District Mid Fangbin Road No. 249
1           Shanghai BS District Mishan Road No. 5
2           Beijing CP District Beinong Road No. 2
dtype: object

In [58]:
pat = '(?P<市名>\w+市)(?P<区名>\w+区)(?P<路名>\w+路)(?P<编号>\d+号)'
def my_func(m):
    str_city = city[m.group('市名')]
    str_district = district[m.group('区名')]
    str_road = road[m.group('路名')]
    str_no = 'No. ' + m.group('编号')[:-1]
    return ' '.join([str_city,
                     str_district,
                     str_road,
                     str_no])
s.str.replace(pat, my_func)

0    Shanghai HP District Mid Fangbin Road No. 249
1           Shanghai BS District Mishan Road No. 5
2           Beijing CP District Beinong Road No. 2
dtype: object

替换概念还是比较清楚的，利用子组的方法，并且此时可以通过传入自定义的替换函数来分别进行处理，注意group(k)代表匹配到的第k个子组（圆括号之间的内容），能看懂，让我自己写却写不出来的😣

In [59]:
pat = '(\w+市)(\w+区)(\w+路)(\d+号)'
s.str.extract(pat)

     0    1     2     3
0  上海市  黄浦区  方浜中路  249号
1  上海市  宝山区   密山路    5号
2  北京市  昌平区   北农路    2号

In [60]:
s = pd.Series(['A135T15,A26S5','B674S2,B25T6'], index = ['my_A','my_B'])
pat = '[A|B](\d+)[T|S](\d+)'
s.str.extractall(pat)

              0   1
     match
my_A 0      135  15
     1       26   5
my_B 0      674   2
     1       25   6

In [61]:
pat_with_name = '[A|B](?P<name1>\d+)[T|S](?P<name2>\d+)'
s.str.extractall(pat_with_name)

           name1 name2
     match
my_A 0       135    15
     1        26     5
my_B 0       674     2
     1        25     6

In [62]:
s.str.findall(pat)

my_A    [(135, 15), (26, 5)]
my_B     [(674, 2), (25, 6)]
dtype: object

提取既可以认为是一种返回具体元素（而不是布尔值或元素对应的索引位置）的匹配操作，也可以认为是一种特殊的拆分操作。前面提到的str.split例子中会把分隔符去除，这并不是用户想要的效果，这时候就可以用str.extract进行提取，str.extractall不同于str.extract只匹配一次，它会把所有符合条件的模式全部匹配出来，如果存在多个结果，则以多级索引的方式存储，str.findall的功能类似于str.extractall，区别在于前者把结果存入列表中，而后者处理为多级索引，每个行只对应一组匹配，而不是把所有匹配组合构成列表。

提取和拆分还是有点类似，只是拆分不保留正则内容，而提取保留了正则内容，各有用处吧，应该是提取更为有用一些。

### 常用字符串函数

In [63]:
s = pd.Series(['lower', 'CAPITALS', 'this is a sentence', 'SwApCaSe'])
s.str.upper()   # 转为大写

0                 LOWER
1              CAPITALS
2    THIS IS A SENTENCE
3              SWAPCASE
dtype: object

In [64]:
s.str.lower()   # 转为小写

0                 lower
1              capitals
2    this is a sentence
3              swapcase
dtype: object

In [65]:
s.str.title()   # 单词首字母大写

0                 Lower
1              Capitals
2    This Is A Sentence
3              Swapcase
dtype: object

In [66]:
s.str.capitalize()    # 句首字母大写

0                 Lower
1              Capitals
2    This is a sentence
3              Swapcase
dtype: object

In [67]:
s.str.swapcase()   # 跟原文大小写互换

0                 LOWER
1              capitals
2    THIS IS A SENTENCE
3              sWaPcAsE
dtype: object

字母型函数
upper, lower, title, capitalize, swapcase这五个函数主要用于字母的大小写转化

In [68]:
s = pd.Series(['1', '2.2', '2e', '??', '-2.1', '0'])
pd.to_numeric(s, errors='ignore')

0       1
1     2.2
2      2e
3      ??
4    -2.1
5       0
dtype: object

In [69]:
s   # 这转换和原数据没区别啊？

0       1
1     2.2
2      2e
3      ??
4    -2.1
5       0
dtype: object

In [70]:
pd.to_numeric(s, errors='coerce')   # 非数值设为缺失，数据类型都转换为浮点型

0    1.0
1    2.2
2    NaN
3    NaN
4   -2.1
5    0.0
dtype: float64

In [71]:
s[pd.to_numeric(s, errors='coerce').isna()]   # 在数据清洗时，可以利用coerce的设定，快速查看非数值型的行

2    2e
3    ??
dtype: object

pd.to_numeric方法，它虽然不是str对象上的方法，但是能够对字符格式的数值进行快速转换和筛选。其主要参数包括errors和downcast分别代表了非数值的处理模式和转换类型。其中，对于不能转换为数值的有三种errors选项，raise, coerce, ignore分别表示直接报错、设为缺失以及保持原来的字符串。

In [72]:
s = pd.Series(['cat rat fat at', 'get feed sheet heat'])
s.str.count('[r|f]at|ee')

0    2
1    2
dtype: int64

In [73]:
s.str.findall('[r|f]at|ee')    # 意思没理解透，第二个字符串没想明白为什么是2，现在知道是[r|f]指的是r和f可有可无

0    [rat, fat]
1      [ee, ee]
dtype: object

In [74]:
s.str.len()   # 这个长度包含空格

0    14
1    19
dtype: int64

count和len的作用分别是返回出现正则模式的次数和字符串的长度

In [75]:
my_index = pd.Index([' col1', 'col2 ', ' col3 '])
my_index.str.strip().str.len()   # 去左右空格

Int64Index([4, 4, 4], dtype='int64')

In [76]:
my_index.str.rstrip().str.len()   # 去右空格

Int64Index([5, 4, 5], dtype='int64')

In [77]:
my_index.str.lstrip().str.len()   # 去左空格

Int64Index([4, 5, 5], dtype='int64')

格式型函数主要分为两类，第一种是除空型，第二种时填充型。其中，第一类函数一共有三种，它们分别是strip, rstrip, lstrip，分别代表去除两侧空格、右侧空格和左侧空格。这些函数在数据清洗时是有用的，特别是列名含有非法空格的时候。

In [78]:
s = pd.Series(['a','b','c'])
s.str.pad(5,'left','*')

0    ****a
1    ****b
2    ****c
dtype: object

In [79]:
s.str.pad(5,'right','*')

0    a****
1    b****
2    c****
dtype: object

In [80]:
s.str.pad(5,'both','*')

0    **a**
1    **b**
2    **c**
dtype: object

对于填充型函数而言，pad是最灵活的，它可以选定字符串长度、填充的方向和填充内容，以下是百度结果：

用法：
Series.str.pad(self, width, side='left', fillchar=' ')
将 Series /索引中的字符串填充到宽度。

参数：
width：int
产生的字符串的最小宽度；其他字符将用定义的字符填充fillchar。

side：{‘left’, ‘right’, ‘both’}, 默认为 ‘left’
从哪一侧填充结果字符串。

fillchar：str, 默认为 ‘ ‘
填充的附加字符，默认为空格。

返回值：
Series
返回带有对象中最少字符数的Series或Index。

In [81]:
s.str.rjust(5, '*')

0    ****a
1    ****b
2    ****c
dtype: object

In [82]:
s.str.ljust(5, '*')

0    a****
1    b****
2    c****
dtype: object

In [83]:
s.str.center(5, '*')

0    **a**
1    **b**
2    **c**
dtype: object

用rjust, ljust, center来等效完成pad的相关功能，需要注意ljust是指右侧填充而不是左侧填充

In [84]:
s = pd.Series([7, 155, 303000]).astype('string')
s.str.pad(6,'left','0')

0    000007
1    000155
2    303000
dtype: string

In [85]:
s.str.rjust(6,'0')

0    000007
1    000155
2    303000
dtype: string

In [86]:
s.str.zfill(6)

0    000007
1    000155
2    303000
dtype: string

在读取excel文件时，经常会出现数字前补0的需求，例如证券代码读入的时候会把"000007"作为数值7来处理，pandas中除了可以使用上面的左侧填充函数进行操作之外，还可用zfill来实现。

期中测试的股票代码转换是不是还有其它方法来处理？

## 练习
### Ex1：房屋信息数据集
现有一份房屋信息数据集如下：

In [87]:
df = pd.read_excel('../data/house_info.xls', usecols=['floor','year','area','price'])
df.head(3)

      floor    year    area price
0   高层（共6层）  1986年建  58.23㎡  155万
1  中层（共20层）  2020年建     88㎡  155万
2  低层（共28层）  2010年建  89.33㎡  365万

1. 将`year`列改为整数年份存储。
2. 将`floor`列替换为`Level, Highest`两列，其中的元素分别为`string`类型的层类别（高层、中层、低层）与整数类型的最高层数。
3. 计算房屋每平米的均价`avg_price`，以`***元/平米`的格式存储到表中，其中`***`为整数。

In [88]:
df.year = df.year.str.extract('(\d+)')
df.year

0        1986
1        2020
2        2010
3        2014
4        2015
         ...
31563    2010
31564    2006
31565    2011
31566    2006
31567    2008
Name: year, Length: 31568, dtype: object

In [89]:
df.year = pd.to_numeric(df.year).astype('Int64')
df.year

0        1986
1        2020
2        2010
3        2014
4        2015
         ...
31563    2010
31564    2006
31565    2011
31566    2006
31567    2008
Name: year, Length: 31568, dtype: Int64

In [90]:
df.head()

      floor  year    area price
0   高层（共6层）  1986  58.23㎡  155万
1  中层（共20层）  2020     88㎡  155万
2  低层（共28层）  2010  89.33㎡  365万
3  低层（共20层）  2014     82㎡  308万
4   高层（共1层）  2015     98㎡  117万

只能赶到这了，一度想要放弃，想想学了那么久，实在是可惜，尽力去坚持，那怕是学一点点，努力💪💪