# DW_pandas_Task9

## 20210107

DataWhale_pandasç»„é˜Ÿå­¦ä¹ ç¬¬ä¹ç« ï¼Œåˆ†ç±»æ•°æ®ï¼ŒåšæŒåšæŒï¼ï¼ï¼

### catå¯¹è±¡

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('../data/learn_pandas.csv', usecols = ['Grade', 'Name', 'Gender', 'Height', 'Weight'])
s = df.Grade.astype('category')
s.head()

0     Freshman
1     Freshman
2       Senior
3    Sophomore
4    Sophomore
Name: Grade, dtype: category
Categories (4, object): ['Freshman', 'Junior', 'Senior', 'Sophomore']

åœ¨pandasä¸­æä¾›äº†categoryç±»å‹ï¼Œä½¿ç”¨æˆ·èƒ½å¤Ÿå¤„ç†åˆ†ç±»ç±»å‹çš„å˜é‡ï¼Œå°†ä¸€ä¸ªæ™®é€šåºåˆ—è½¬æ¢æˆåˆ†ç±»å˜é‡å¯ä»¥ä½¿ç”¨astypeæ–¹æ³•ã€‚

In [3]:
s.cat

In [4]:
s.cat.categories   #ä¸ºç±»åˆ«çš„æœ¬èº«ï¼Œå®ƒä»¥Indexç±»å‹å­˜å‚¨

Index(['Freshman', 'Junior', 'Senior', 'Sophomore'], dtype='object')

In [5]:
s.cat.ordered   # ä¸ºæ˜¯å¦æœ‰åº

False

In [6]:
s.cat.codes.head()   # æ¯ä¸€ä¸ªåºåˆ—çš„ç±»åˆ«ä¼šè¢«èµ‹äºˆå”¯ä¸€çš„æ•´æ•°ç¼–å·ï¼Œå®ƒä»¬çš„ç¼–å·å–å†³äºcat.categoriesä¸­çš„é¡ºåºï¼Œè¯¥å±æ€§å¯ä»¥é€šè¿‡codesè®¿é—®

0    0
1    0
2    2
3    3
4    3
dtype: int8

é€šè¿‡catå¯¹è±¡çš„categorieså±æ€§èƒ½å¤Ÿå®Œæˆå¯¹ç±»åˆ«çš„æŸ¥è¯¢ï¼Œé‚£ä¹ˆåº”è¯¥å¦‚ä½•è¿›è¡Œâ€œå¢æ”¹æŸ¥åˆ â€çš„å…¶ä»–ä¸‰ä¸ªæ“ä½œå‘¢ï¼Ÿ

In [7]:
s = s.cat.add_categories('Graduate') # å¢åŠ ä¸€ä¸ªæ¯•ä¸šç”Ÿç±»åˆ«
s.cat.categories

Index(['Freshman', 'Junior', 'Senior', 'Sophomore', 'Graduate'], dtype='object')

In [8]:
s = s.cat.remove_categories('Freshman')
s.cat.categories

Index(['Junior', 'Senior', 'Sophomore', 'Graduate'], dtype='object')

In [9]:
s.head()   # åˆ é™¤æŸä¸€ä¸ªç±»åˆ«å¯ä»¥ä½¿ç”¨remove_categoriesï¼ŒåŒæ—¶æ‰€æœ‰åŸæ¥åºåˆ—ä¸­çš„è¯¥ç±»ä¼šè¢«è®¾ç½®ä¸ºç¼ºå¤±ã€‚

0          NaN
1          NaN
2       Senior
3    Sophomore
4    Sophomore
Name: Grade, dtype: category
Categories (4, object): ['Junior', 'Senior', 'Sophomore', 'Graduate']

In [10]:
s = s.cat.remove_unused_categories() # ç§»é™¤äº†æœªå‡ºç°çš„åšå£«ç”Ÿç±»åˆ«
s.cat.categories   #æƒ³è¦åˆ é™¤æœªå‡ºç°åœ¨åºåˆ—ä¸­çš„ç±»åˆ«ï¼Œå¯ä»¥ä½¿ç”¨remove_unused_categoriesæ¥å®ç°

Index(['Junior', 'Senior', 'Sophomore'], dtype='object')

In [11]:
s = s.cat.rename_categories({'Sophomore':'æœ¬ç§‘äºŒå¹´çº§å­¦ç”Ÿ'})
s.head()   # å¯¹ç±»åˆ«è¿›è¡Œé‡å‘½å

0        NaN
1        NaN
2     Senior
3    æœ¬ç§‘äºŒå¹´çº§å­¦ç”Ÿ
4    æœ¬ç§‘äºŒå¹´çº§å­¦ç”Ÿ
Name: Grade, dtype: category
Categories (3, object): ['Junior', 'Senior', 'æœ¬ç§‘äºŒå¹´çº§å­¦ç”Ÿ']

åˆ†ç±»æ•°æ®å…·ä½“åº”è¯¥æ˜¯å¯¹æ•°æ®çš„é‡åŒ–è½¬å˜çš„åº”ç”¨å§ã€‚

### æœ‰åºåˆ†ç±»

In [12]:
s = df.Grade.astype('category')
s = s.cat.reorder_categories(['Freshman', 'Sophomore', 'Junior', 'Senior'],ordered=True)
s.head()

0     Freshman
1     Freshman
2       Senior
3    Sophomore
4    Sophomore
Name: Grade, dtype: category
Categories (4, object): ['Freshman' < 'Sophomore' < 'Junior' < 'Senior']

In [13]:
s.cat.as_unordered().head()

0     Freshman
1     Freshman
2       Senior
3    Sophomore
4    Sophomore
Name: Grade, dtype: category
Categories (4, object): ['Freshman', 'Sophomore', 'Junior', 'Senior']

æœ‰åºç±»åˆ«å’Œæ— åºç±»åˆ«å¯ä»¥é€šè¿‡as_unorderedå’Œreorder_categoriesäº’ç›¸è½¬åŒ–ï¼Œéœ€è¦æ³¨æ„çš„æ˜¯åè€…ä¼ å…¥çš„å‚æ•°å¿…é¡»æ˜¯ç”±å½“å‰åºåˆ—çš„æ— éœ€ç±»åˆ«æ„æˆçš„åˆ—è¡¨ï¼Œä¸èƒ½å¤Ÿå¢åŠ æ–°çš„ç±»åˆ«ï¼Œä¹Ÿä¸èƒ½ç¼ºå°‘åŸæ¥çš„ç±»åˆ«ï¼Œå¹¶ä¸”å¿…é¡»æŒ‡å®šå‚æ•°ordered=Trueï¼Œå¦åˆ™æ–¹æ³•æ— æ•ˆã€‚

å¦‚æœä¸æƒ³æŒ‡å®šordered=Trueå‚æ•°ï¼Œé‚£ä¹ˆå¯ä»¥å…ˆç”¨s.cat.as_ordered()è½¬åŒ–ä¸ºæœ‰åºç±»åˆ«ï¼Œå†åˆ©ç”¨reorder_categoriesè¿›è¡Œå…·ä½“çš„ç›¸å¯¹å¤§å°è°ƒæ•´ã€‚

In [14]:
df.Grade = df.Grade.astype('category')
df.Grade = df.Grade.cat.reorder_categories(['Freshman', 'Sophomore', 'Junior', 'Senior'],ordered=True)
df.sort_values('Grade').head() # å€¼æ’åº

        Grade           Name  Gender  Height  Weight
0    Freshman   Gaopeng Yang  Female   158.9    46.0
105  Freshman      Qiang Shi  Female   164.5    52.0
96   Freshman  Changmei Feng  Female   163.8    56.0
88   Freshman   Xiaopeng Han  Female   164.1    53.0
81   Freshman    Yanli Zhang  Female   165.1    52.0

In [15]:
df.set_index('Grade').sort_index().head() # ç´¢å¼•æ’åº

                   Name  Gender  Height  Weight
Grade
Freshman   Gaopeng Yang  Female   158.9    46.0
Freshman      Qiang Shi  Female   164.5    52.0
Freshman  Changmei Feng  Female   163.8    56.0
Freshman   Xiaopeng Han  Female   164.1    53.0
Freshman    Yanli Zhang  Female   165.1    52.0

æŠŠåˆ—çš„ç±»å‹ä¿®æ”¹ä¸ºcategoryåï¼Œå†èµ‹äºˆç›¸åº”çš„å¤§å°å…³ç³»ï¼Œå°±èƒ½æ­£å¸¸åœ°ä½¿ç”¨sort_indexå’Œsort_valuesã€‚

æŠŠæ— åºå˜ä¸ºæœ‰åºæ’åˆ—ï¼Œå¯ä»¥æŒ‡å®šæ’åºå…³ç³»ï¼Œå¯è°ƒæ•´æ€§æ¯”è¾ƒå¤§ã€‚

In [16]:
res1 = df.Grade == 'Sophomore'
res1.head()

0    False
1    False
2    False
3     True
4     True
Name: Grade, dtype: bool

In [17]:
res2 = df.Grade == ['PhD']*df.shape[0]
res2.head()

0    False
1    False
2    False
3    False
4    False
Name: Grade, dtype: bool

In [18]:
res3 = df.Grade <= 'Sophomore'
res3.head()

0     True
1     True
2    False
3     True
4     True
Name: Grade, dtype: bool

In [19]:
res4 = df.Grade <= df.Grade.sample(frac=1).reset_index(drop=True) # æ‰“ä¹±åæ¯”è¾ƒ
res4.head()

0     True
1     True
2     True
3    False
4     True
Name: Grade, dtype: bool

ç”±äºåºçš„å»ºç«‹ï¼Œå› æ­¤å°±å¯ä»¥è¿›è¡Œæ¯”è¾ƒæ“ä½œã€‚åˆ†ç±»å˜é‡çš„æ¯”è¾ƒæ“ä½œåˆ†ä¸ºä¸¤ç±»ï¼Œç¬¬ä¸€ç§æ˜¯==æˆ–!=å…³ç³»çš„æ¯”è¾ƒï¼Œæ¯”è¾ƒçš„å¯¹è±¡å¯ä»¥æ˜¯æ ‡é‡æˆ–è€…åŒé•¿åº¦çš„Seriesï¼ˆæˆ–listï¼‰ï¼Œç¬¬äºŒç§æ˜¯>,>=,<,<=å››ç±»å¤§å°å…³ç³»çš„æ¯”è¾ƒï¼Œæ¯”è¾ƒçš„å¯¹è±¡å’Œç¬¬ä¸€ç§ç±»ä¼¼ï¼Œä½†æ˜¯æ‰€æœ‰å‚ä¸æ¯”è¾ƒçš„å…ƒç´ å¿…é¡»å±äºåŸåºåˆ—çš„categoriesï¼ŒåŒæ—¶è¦å’ŒåŸåºåˆ—å…·æœ‰ç›¸åŒçš„ç´¢å¼•ã€‚

è¿™ä¸ªåˆè¦ç»“åˆå‰è¯¾çŸ¥è¯†ï¼Œæœ‰ç‚¹è’™ï¼Œå›å¤´å»çœ‹çœ‹ã€‚

### åŒºé—´ç±»åˆ«

åŒºé—´æ˜¯ä¸€ç§ç‰¹æ®Šçš„ç±»åˆ«ï¼Œåœ¨å®é™…æ•°æ®åˆ†æä¸­ï¼ŒåŒºé—´åºåˆ—å¾€å¾€æ˜¯é€šè¿‡cutå’Œqcutæ–¹æ³•è¿›è¡Œæ„é€ çš„ï¼Œè¿™ä¸¤ä¸ªå‡½æ•°èƒ½å¤ŸæŠŠåŸåºåˆ—çš„æ•°å€¼ç‰¹å¾è¿›è¡Œè£…ç®±ï¼Œå³ç”¨åŒºé—´ä½ç½®æ¥ä»£æ›¿åŸæ¥çš„å…·ä½“æ•°å€¼ã€‚

cutçš„å¸¸è§ç”¨æ³•ï¼š

æœ€é‡è¦çš„å‚æ•°æ˜¯binï¼Œå¦‚æœä¼ å…¥æ•´æ•°nï¼Œåˆ™ä»£è¡¨æŠŠæ•´ä¸ªä¼ å…¥æ•°ç»„çš„æŒ‰ç…§æœ€å¤§å’Œæœ€å°å€¼ç­‰é—´è·åœ°åˆ†ä¸ºnæ®µã€‚ç”±äºåŒºé—´é»˜è®¤æ˜¯å·¦å¼€å³é—­ï¼Œéœ€è¦è¿›è¡Œè°ƒæ•´æŠŠæœ€å°å€¼åŒ…å«è¿›å»ï¼Œåœ¨pandasä¸­çš„è§£å†³æ–¹æ¡ˆæ˜¯åœ¨å€¼æœ€å°çš„åŒºé—´å·¦ç«¯ç‚¹å†å‡å»0.001*(max-min)ï¼Œå› æ­¤å¦‚æœå¯¹åºåˆ—[1,2]åˆ’åˆ†ä¸º2ä¸ªç®±å­æ—¶ï¼Œç¬¬ä¸€ä¸ªç®±å­çš„èŒƒå›´(0.999,1.5]ï¼Œç¬¬äºŒä¸ªç®±å­çš„èŒƒå›´æ˜¯(1.5,2]ã€‚å¦‚æœéœ€è¦æŒ‡å®šå·¦é—­å³å¼€æ—¶ï¼Œéœ€è¦æŠŠrightå‚æ•°è®¾ç½®ä¸ºFalseï¼Œç›¸åº”çš„åŒºé—´è°ƒæ•´æ–¹æ³•æ˜¯åœ¨å€¼æœ€å¤§çš„åŒºé—´å³ç«¯ç‚¹å†åŠ ä¸Š0.001*(max-min)ã€‚

In [20]:
s = pd.Series([1,2])
pd.cut(s, bins=2)

0    (0.999, 1.5]
1      (1.5, 2.0]
dtype: category
Categories (2, interval[float64]): [(0.999, 1.5] < (1.5, 2.0]]

In [21]:
pd.cut(s, bins=2, right=False)

0      [1.0, 1.5)
1    [1.5, 2.001)
dtype: category
Categories (2, interval[float64]): [[1.0, 1.5) < [1.5, 2.001)]

ä¸€å¤©æ—¶é—´å¤ªèµ¶äº†ï¼Œå¿™ä¸­æŠ½ç©ºï¼Œä¹Ÿåªæ˜¯å¤§è‡´çœ‹äº†ä¸€ç‚¹ç‚¹ï¼Œéƒ½è¿˜æ²¡é¢†æ‚Ÿè¿›å»ğŸ˜³ğŸ˜³