# DW_pandas_Task8

## 20210105

DataWhale_pandasç»„é˜Ÿå­¦ä¹ ç¬¬å…«ç« ï¼Œæ–‡æœ¬æ•°æ®ï¼ŒåšæŒåšæŒï¼ï¼ï¼

### strå¯¹è±¡

In [1]:
import pandas as pd
import numpy as np

In [2]:
s = pd.Series(['abcd', 'efg', 'hi'])
s.str

In [3]:
s.str.upper()

0    ABCD
1     EFG
2      HI
dtype: object

In [4]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

æ ¹æ®æ–‡æ¡£APIææ–™ï¼Œåœ¨pandasçš„50ä¸ªstrå¯¹è±¡æ–¹æ³•ä¸­ï¼Œæœ‰31ä¸ªæ˜¯å’Œæ ‡å‡†åº“ä¸­çš„stræ¨¡å—æ–¹æ³•åŒåä¸”åŠŸèƒ½ä¸€è‡´ï¼Œè¿™ä¸ºæ‰¹é‡å¤„ç†åºåˆ—æä¾›äº†æœ‰åŠ›çš„å·¥å…·ã€‚

In [5]:
s.str[2:4]

0    cd
1     g
2
dtype: object

In [6]:
s.str[-1:2]

0
1
2    i
dtype: object

In [7]:
s.str[0]

0    a
1    e
2    h
dtype: object

In [8]:
s.str[-1]

0    d
1    g
2    i
dtype: object

è¿™ä¸ªåˆ‡ç‰‡æ˜¯æ¯ä¸€è¡Œå–å€¼ï¼Œåˆšçœ‹çš„æ—¶å€™æœ‰ç‚¹è’™ï¼Œç°åœ¨æ˜ç™½äº†ï¼Œæœ‰å°±ä¼šæ˜¾ç¤ºæ•°æ®ï¼Œæ²¡æœ‰å°±æ²¡æœ‰ã€‚

In [9]:
s = pd.Series([{1: 'temp_1', 2: 'temp_2'}, ['a', 'b'], 0.5, 'my_string'])
s.str[1]

0    temp_1
1         b
2       NaN
3         y
dtype: object

In [10]:
s

0    {1: 'temp_1', 2: 'temp_2'}
1                        [a, b]
2                           0.5
3                     my_string
dtype: object

In [11]:
s.astype('string').str[1]

0    1
1    '
2    .
3    y
dtype: string

In [12]:
s.astype('string')

0    {1: 'temp_1', 2: 'temp_2'}
1                    ['a', 'b']
2                           0.5
3                     my_string
dtype: string

é™¤äº†æœ€åä¸€ä¸ªå­—ç¬¦ä¸²å…ƒç´ ï¼Œå‰ä¸‰ä¸ªå…ƒç´ è¿”å›çš„å€¼éƒ½ä¸åŒï¼Œå…¶åŸå› åœ¨äºå½“åºåˆ—ç±»å‹ä¸ºobjectæ—¶ï¼Œæ˜¯å¯¹äºæ¯ä¸€ä¸ªå…ƒç´ è¿›è¡Œ[]ç´¢å¼•ï¼Œå› æ­¤å¯¹äºå­—å…¸è€Œè¨€ï¼Œè¿”å›temp_1å­—ç¬¦ä¸²ï¼Œå¯¹äºåˆ—è¡¨åˆ™è¿”å›ç¬¬äºŒä¸ªå€¼ï¼Œè€Œç¬¬ä¸‰ä¸ªä¸ºä¸å¯è¿­ä»£å¯¹è±¡ï¼Œè¿”å›ç¼ºå¤±å€¼ï¼Œç¬¬å››ä¸ªæ˜¯å¯¹å­—ç¬¦ä¸²è¿›è¡Œ[]ç´¢å¼•ã€‚è€Œstringç±»å‹çš„strå¯¹è±¡å…ˆæŠŠæ•´ä¸ªå…ƒç´ è½¬ä¸ºå­—é¢æ„ä¹‰çš„å­—ç¬¦ä¸²ï¼Œä¾‹å¦‚å¯¹äºåˆ—è¡¨è€Œè¨€ï¼Œç¬¬ä¸€ä¸ªå…ƒç´ å³ "{"ï¼Œè€Œå¯¹äºæœ€åä¸€ä¸ªå­—ç¬¦ä¸²å…ƒç´ è€Œè¨€ï¼Œæ°å¥½è½¬åŒ–å‰åçš„è¡¨ç¤ºæ–¹æ³•ä¸€è‡´ï¼Œå› æ­¤ç»“æœå’Œobjectç±»å‹ä¸€è‡´ã€‚

é™¤äº†å¯¹äºæŸäº›å¯¹è±¡çš„stråºåˆ—åŒ–æ–¹æ³•ä¸åŒä¹‹å¤–ï¼Œä¸¤è€…å¦å¤–çš„ä¸€ä¸ªå·®åˆ«åœ¨äºï¼Œstringç±»å‹æ˜¯Nullableç±»å‹ï¼Œä½†objectä¸æ˜¯ã€‚è¿™æ„å‘³ç€stringç±»å‹çš„åºåˆ—ï¼Œå¦‚æœè°ƒç”¨çš„stræ–¹æ³•è¿”å›å€¼ä¸ºæ•´æ•°Serieså’Œå¸ƒå°”Seriesæ—¶ï¼Œå…¶åˆ†åˆ«å¯¹åº”çš„dtypeæ˜¯Intå’Œbooleançš„Nullableç±»å‹ï¼Œè€Œobjectç±»å‹åˆ™ä¼šåˆ†åˆ«è¿”å›int/floatå’Œbool/objectï¼Œå–å†³äºç¼ºå¤±å€¼çš„å­˜åœ¨ä¸å¦ã€‚åŒæ—¶ï¼Œå­—ç¬¦ä¸²çš„æ¯”è¾ƒæ“ä½œï¼Œä¹Ÿå…·æœ‰ç›¸ä¼¼çš„ç‰¹æ€§ï¼Œstringè¿”å›Nullableç±»å‹ï¼Œä½†objectä¸ä¼šã€‚

è§£é‡Šçš„å¾ˆè¯¦ç»†ï¼Œä½†è¿˜æ˜¯ç›´è§‚çœ‹è¿è¡Œç»“æœæ›´åŠ æ¸…æ™°ï¼Œå› ä¸ºçœ‹ä¸æ‡‚ä¸“ä¸šæœ¯è¯­ğŸ˜­

In [13]:
s = pd.Series(['a'])
s.str.len()

0    1
dtype: int64

In [14]:
s.astype('string').str.len()

0    1
dtype: Int64

In [15]:
s == 'a'

0    True
dtype: bool

In [16]:
s.astype('string') == 'a'

0    True
dtype: boolean

In [17]:
s = pd.Series(['a', np.nan]) # å¸¦æœ‰ç¼ºå¤±å€¼

In [18]:
s.str.len()

0    1.0
1    NaN
dtype: float64

In [19]:
s.astype('string').str.len()

0       1
1    <NA>
dtype: Int64

In [20]:
s == 'a'

0     True
1    False
dtype: bool

In [21]:
s.astype('string') == 'a'

0    True
1    <NA>
dtype: boolean

In [22]:
s = pd.Series([12, 345, 6789])
s.astype('string').str[1]

0    2
1    4
2    7
dtype: string

In [23]:
s

0      12
1     345
2    6789
dtype: int64

In [24]:
s.astype('string')

0      12
1     345
2    6789
dtype: string

éœ€è¦æ³¨æ„çš„æ˜¯ï¼Œå¯¹äºå…¨ä½“å…ƒç´ ä¸ºæ•°å€¼ç±»å‹çš„åºåˆ—ï¼Œå³ä½¿å…¶ç±»å‹ä¸ºobjectæˆ–è€…categoryä¹Ÿä¸å…è®¸ç›´æ¥ä½¿ç”¨strå±æ€§ã€‚å¦‚æœéœ€è¦æŠŠæ•°å­—å½“æˆstringç±»å‹å¤„ç†ï¼Œå¯ä»¥ä½¿ç”¨astypeå¼ºåˆ¶è½¬æ¢ä¸ºstringç±»å‹çš„Seriesã€‚

è½¬æ¢åçš„ç±»å‹æœ‰æ˜æ˜¾åŒºåˆ«ï¼Œç”±int64è½¬ä¸ºstringï¼Œæœ‰ç‚¹è·Ÿæˆ‘å†™çš„çŒœæ•°å­—æ¸¸æˆçš„ç”¨æ³•å·®ä¸å¤šï¼Œéšæœºç”Ÿæˆçš„å››ä½æ•°å­—æ”¹ä¸ºå­—ç¬¦ä¸²ï¼Œå’Œè¾“å…¥çš„å››ä½æ•°å­—è¿›è¡Œé€æ¸ä½å¯¹æ¯”ï¼Œè¿™æ ·å¯ä»¥æŒ‰åˆ‡ç‰‡æ’åˆ—å–æ•°æ®ã€‚

### æ­£åˆ™è¡¨è¾¾å¼åŸºç¡€

In [25]:
import re
re.findall('Apple', 'Apple! This Is an Apple!')

['Apple', 'Apple']

æ­£åˆ™è¡¨è¾¾å¼æ˜¯ä¸€ç§æŒ‰ç…§æŸç§æ­£åˆ™æ¨¡å¼ï¼Œä»å·¦åˆ°å³åŒ¹é…å­—ç¬¦ä¸²ä¸­å†…å®¹çš„ä¸€ç§å·¥å…·ã€‚å¯¹äºä¸€èˆ¬çš„å­—ç¬¦è€Œè¨€ï¼Œå®ƒå¯ä»¥æ‰¾åˆ°å…¶æ‰€åœ¨çš„ä½ç½®ï¼Œè¿™é‡Œä¸ºäº†æ¼”ç¤ºä¾¿åˆ©ï¼Œä½¿ç”¨äº†pythonä¸­reæ¨¡å—çš„findallå‡½æ•°æ¥åŒ¹é…æ‰€æœ‰å‡ºç°è¿‡ä½†ä¸é‡å çš„æ¨¡å¼ï¼Œç¬¬ä¸€ä¸ªå‚æ•°æ˜¯æ­£åˆ™è¡¨è¾¾å¼ï¼Œç¬¬äºŒä¸ªå‚æ•°æ˜¯å¾…åŒ¹é…çš„å­—ç¬¦ä¸²ã€‚ä¾‹å¦‚ï¼Œåœ¨ä¸‹é¢çš„å­—ç¬¦ä¸²ä¸­æ‰¾å‡ºapple

|å…ƒå­—ç¬¦ |   æè¿° |
| :-----| ----: |
|.       |    åŒ¹é…é™¤æ¢è¡Œç¬¦ä»¥å¤–çš„ä»»æ„å­—ç¬¦|
|\[ \]     |      å­—ç¬¦ç±»ï¼ŒåŒ¹é…æ–¹æ‹¬å·ä¸­åŒ…å«çš„ä»»æ„å­—ç¬¦|
|\[^ \]     |      å¦å®šå­—ç¬¦ç±»ï¼ŒåŒ¹é…æ–¹æ‹¬å·ä¸­ä¸åŒ…å«çš„ä»»æ„å­—ç¬¦|
|\*       |    åŒ¹é…å‰é¢çš„å­è¡¨è¾¾å¼é›¶æ¬¡æˆ–å¤šæ¬¡|
|\+       |    åŒ¹é…å‰é¢çš„å­è¡¨è¾¾å¼ä¸€æ¬¡æˆ–å¤šæ¬¡|
|?        |   åŒ¹é…å‰é¢çš„å­è¡¨è¾¾å¼é›¶æ¬¡æˆ–ä¸€æ¬¡|
|{n,m}    |       èŠ±æ‹¬å·ï¼ŒåŒ¹é…å‰é¢å­—ç¬¦è‡³å°‘ n æ¬¡ï¼Œä½†æ˜¯ä¸è¶…è¿‡ m æ¬¡|
|(xyz)   |        å­—ç¬¦ç»„ï¼ŒæŒ‰ç…§ç¡®åˆ‡çš„é¡ºåºåŒ¹é…å­—ç¬¦xyz|
|\|     |      åˆ†æ”¯ç»“æ„ï¼ŒåŒ¹é…ç¬¦å·ä¹‹å‰çš„å­—ç¬¦æˆ–åé¢çš„å­—ç¬¦|
|\\    |       è½¬ä¹‰ç¬¦ï¼Œå®ƒå¯ä»¥è¿˜åŸå…ƒå­—ç¬¦åŸæ¥çš„å«ä¹‰|
|^    |       åŒ¹é…è¡Œçš„å¼€å§‹|
|$   |        åŒ¹é…è¡Œçš„ç»“æŸ|

In [26]:
re.findall('.', 'abc')

['a', 'b', 'c']

In [27]:
re.findall('[ac]', 'abc')

['a', 'c']

In [28]:
re.findall('[^ac]', 'abc')

['b']

In [29]:
re.findall('a*', 'aaabbb')

['aaa', '', '', '', '']

In [30]:
re.findall('a+', 'aaabbb')

['aaa']

In [31]:
re.findall('[ab]{2}', 'aaaabbbb')

['aa', 'aa', 'bb', 'bb']

In [32]:
re.findall('a?.', 'abaacadaae')

['ab', 'aa', 'c', 'ad', 'aa', 'e']

In [33]:
re.findall('a\\?|a\*', 'aa?a*a')

['a?', 'a*']

In [34]:
re.findall('a\?|a\*', 'aa?a*a')

['a?', 'a*']

In [35]:
re.findall('a?|a*', 'aa?a*a')

['a', 'a', '', 'a', '', 'a', '']

è¿™å¼ è¡¨æ ¼æ˜¯æœ€åŸºæœ¬çš„å†…å®¹ï¼Œä½†å¦‚ä½•çµæ´»è¿ç”¨å´æå…¶å›°éš¾ï¼ŒåŸæ¥è·Ÿè¿‡æ­£åˆ™è¡¨è¾¾å¼çš„è¯¾ç¨‹ï¼Œå¬è€å¸ˆè®²è¿˜èƒ½å¬æ‡‚ï¼Œå•ç‹¬çœ‹å¾ˆè´¹ç¥ï¼Œè¦å›å¤´å†å»å¯¹æ¯”æ‰èƒ½æ˜ç™½ï¼Œæœ€åçš„è½¬ä¹‰ç¬¦ç¤ºä¾‹æ²¡çœ‹æ˜ç™½ï¼Œæ‹†å¼€å–æ‰çœ‹ï¼Œä¸¤ \\\\ å’Œå• \\ æ²¡ä»€ä¹ˆåŒºåˆ«å•Šï¼Ÿå½“ç„¶æ‹¿æ‰æ„æ€å°±ä¸ä¸€æ ·äº†ã€‚

æ­¤å¤–ï¼Œæ­£åˆ™è¡¨è¾¾å¼ä¸­è¿˜æœ‰ä¸€ç±»ç®€å†™å­—ç¬¦é›†ï¼Œå…¶ç­‰ä»·äºä¸€ç»„å­—ç¬¦çš„é›†åˆï¼š

|ç®€å†™    |  æè¿° |
| :-----| :---- |
|\\w     |   åŒ¹é…æ‰€æœ‰å­—æ¯ã€æ•°å­—ã€ä¸‹åˆ’çº¿: \[a-zA-Z0-9\_\] |
|\\W     |   åŒ¹é…éå­—æ¯å’Œæ•°å­—çš„å­—ç¬¦: \[^\\w\]|
|\\d     |   åŒ¹é…æ•°å­—: \[0-9\]|
|\\D   |     åŒ¹é…éæ•°å­—: \[^\\d\]|
|\\s    |    åŒ¹é…ç©ºæ ¼ç¬¦: \[\\t\\n\\f\\r\\p{Z}\]|
|\\S    |    åŒ¹é…éç©ºæ ¼ç¬¦: \[^\\s\]|
|\\B  |      åŒ¹é…ä¸€ç»„éç©ºå­—ç¬¦å¼€å¤´æˆ–ç»“å°¾çš„ä½ç½®ï¼Œä¸ä»£è¡¨å…·ä½“å­—ç¬¦|

In [36]:
re.findall('.s', 'Apple! This Is an Apple!')

['is', 'Is']

In [37]:
re.findall('\w{2}', '09 8? 7w c_ 9q p@')

['09', '7w', 'c_', '9q']

In [38]:
re.findall('\w\W\B', '09 8? 7w c_ 9q p@')

['8?', 'p@']

In [39]:
re.findall('.\s.', 'Constant dropping wears the stone.')

['t d', 'g w', 's t', 'e s']

In [40]:
re.findall('ä¸Šæµ·å¸‚(.{2,3}åŒº)(.{2,3}è·¯)(\d+å·)', 'ä¸Šæµ·å¸‚é»„æµ¦åŒºæ–¹æµœä¸­è·¯249å· ä¸Šæµ·å¸‚å®å±±åŒºå¯†å±±è·¯5å·')

[('é»„æµ¦åŒº', 'æ–¹æµœä¸­è·¯', '249å·'), ('å®å±±åŒº', 'å¯†å±±è·¯', '5å·')]

\\d+ è¿™ç©æ„å„¿å¯ä»¥ä»£è¡¨æ— ç©·å¤§çš„æ•°å§ï¼Œåªåœ¨ä½ æœ‰ï¼Œå®ƒéƒ½å¯ä»¥

### æ–‡æœ¬å¤„ç†çš„äº”ç±»æ“ä½œ

In [41]:
s = pd.Series(['ä¸Šæµ·å¸‚é»„æµ¦åŒºæ–¹æµœä¸­è·¯249å·', 'ä¸Šæµ·å¸‚å®å±±åŒºå¯†å±±è·¯5å·'])
s.str.split('[å¸‚åŒºè·¯]')

0    [ä¸Šæµ·, é»„æµ¦, æ–¹æµœä¸­, 249å·]
1       [ä¸Šæµ·, å®å±±, å¯†å±±, 5å·]
dtype: object

In [42]:
s.str.split('[å¸‚åŒºè·¯]', n=2, expand=True)

    0   1         2
0  ä¸Šæµ·  é»„æµ¦  æ–¹æµœä¸­è·¯249å·
1  ä¸Šæµ·  å®å±±     å¯†å±±è·¯5å·

In [43]:
s.str.rsplit('[å¸‚åŒºè·¯]', n=2, expand=True)

                0
0  ä¸Šæµ·å¸‚é»„æµ¦åŒºæ–¹æµœä¸­è·¯249å·
1     ä¸Šæµ·å¸‚å®å±±åŒºå¯†å±±è·¯5å·

In [44]:
S = "this is string example....wow!!!"
print (S.rsplit( ))
print (S.rsplit('i',1))
print (S.rsplit('w'))

['this', 'is', 'string', 'example....wow!!!']
['this is str', 'ng example....wow!!!']
['this is string example....', 'o', '!!!']

str.splitèƒ½å¤ŸæŠŠå­—ç¬¦ä¸²çš„åˆ—è¿›è¡Œæ‹†åˆ†ï¼Œå…¶ä¸­ç¬¬ä¸€ä¸ªå‚æ•°ä¸ºæ­£åˆ™è¡¨è¾¾å¼ï¼Œå¯é€‰å‚æ•°åŒ…æ‹¬ä»å·¦åˆ°å³çš„æœ€å¤§æ‹†åˆ†æ¬¡æ•°nï¼Œæ˜¯å¦å±•å¼€ä¸ºå¤šä¸ªåˆ—expandã€‚

ä¸å…¶ç±»ä¼¼çš„å‡½æ•°æ˜¯str.rsplitï¼Œå…¶åŒºåˆ«åœ¨äºä½¿ç”¨nå‚æ•°çš„æ—¶å€™æ˜¯ä»å³åˆ°å·¦é™åˆ¶æœ€å¤§æ‹†åˆ†æ¬¡æ•°ã€‚ä½†æ˜¯å½“å‰ç‰ˆæœ¬ä¸‹rsplitå› ä¸ºbugè€Œæ— æ³•ä½¿ç”¨æ­£åˆ™è¡¨è¾¾å¼è¿›è¡Œåˆ†å‰²ã€‚

ç‰ˆæœ¬é—®é¢˜æ— æ³•çœ‹åˆ°åˆ°åº•rsplitæœ‰ä»€ä¹ˆä½œç”¨ï¼Œåœ¨ç™¾åº¦æ‰¾äº†ä¸ªä¾‹å­çœ‹çœ‹

In [45]:
s = pd.Series([['a','b'], [1, 'a'], [['a', 'b'], 'c']])
s.str.join('-')

0    a-b
1    NaN
2    NaN
dtype: object

In [46]:
s1 = pd.Series(['a','b'])
s2 = pd.Series(['cat','dog'])
s1.str.cat(s2,sep='-')

0    a-cat
1    b-dog
dtype: object

In [47]:
s2.index = [1, 2]
s1.str.cat(s2, sep='-', na_rep='?', join='outer')

0      a-?
1    b-cat
2    ?-dog
dtype: object

å…³äºåˆå¹¶ä¸€å…±æœ‰ä¸¤ä¸ªå‡½æ•°ï¼Œåˆ†åˆ«æ˜¯str.joinå’Œstr.catã€‚str.joinè¡¨ç¤ºç”¨æŸä¸ªè¿æ¥ç¬¦æŠŠSeriesä¸­çš„å­—ç¬¦ä¸²åˆ—è¡¨è¿æ¥èµ·æ¥ï¼Œå¦‚æœåˆ—è¡¨ä¸­å‡ºç°äº†å­—ç¬¦ä¸²å…ƒç´ åˆ™è¿”å›ç¼ºå¤±å€¼ï¼Œstr.catç”¨äºåˆå¹¶ä¸¤ä¸ªåºåˆ—ï¼Œä¸»è¦å‚æ•°ä¸ºè¿æ¥ç¬¦sepã€è¿æ¥å½¢å¼joinä»¥åŠç¼ºå¤±å€¼æ›¿ä»£ç¬¦å·na_repï¼Œå…¶ä¸­è¿æ¥å½¢å¼é»˜è®¤ä¸ºä»¥ç´¢å¼•ä¸ºé”®çš„å·¦è¿æ¥ã€‚

åˆå¹¶è›®æœ‰æ„æ€ï¼Œæœ‰ç‚¹è·Ÿmergeçš„æ–¹å¼å·®ä¸å¤šã€‚

In [48]:
s = pd.Series(['my cat', 'he is fat', 'railway station'])
s.str.contains('\s\wat')

0     True
1     True
2    False
dtype: bool

str.contains`è¿”å›äº†æ¯ä¸ªå­—ç¬¦ä¸²æ˜¯å¦åŒ…å«æ­£åˆ™æ¨¡å¼çš„å¸ƒå°”åºåˆ—ï¼š

In [49]:
s.str.startswith('my')

0     True
1    False
2    False
dtype: bool

In [50]:
s.str.endswith('t')

0     True
1     True
2    False
dtype: bool

str.startswithå’Œstr.endswithè¿”å›äº†æ¯ä¸ªå­—ç¬¦ä¸²ä»¥ç»™å®šæ¨¡å¼ä¸ºå¼€å§‹å’Œç»“æŸçš„å¸ƒå°”åºåˆ—ï¼Œå®ƒä»¬éƒ½ä¸æ”¯æŒæ­£åˆ™è¡¨è¾¾å¼ã€‚

è¿™ä¸ªåªæ˜¯ç”¨æ¥åŒ¹é…å‰åçš„å­—ç¬¦ä¸²å§ï¼Œæ—¢ç„¶ä¸èƒ½ç”¨æ­£åˆ™ï¼Œåªèƒ½ç”¨äºç®€å•çš„åŒ¹é…åˆ¤æ–­ã€‚

In [51]:
s.str.match('m|h')

0     True
1     True
2    False
dtype: bool

In [52]:
s.str[::-1].str.match('ta[f|g]|n') # åè½¬ååŒ¹é…

0    False
1     True
2     True
dtype: bool

In [53]:
s.str.contains('^[f|g]at|n$')

0    False
1    False
2     True
dtype: bool

å¦‚æœéœ€è¦ç”¨æ­£åˆ™è¡¨è¾¾å¼æ¥æ£€æµ‹å¼€å§‹æˆ–ç»“æŸå­—ç¬¦ä¸²çš„æ¨¡å¼ï¼Œå¯ä»¥ä½¿ç”¨`str.match`ï¼Œå…¶è¿”å›äº†æ¯ä¸ªå­—ç¬¦ä¸²èµ·å§‹å¤„æ˜¯å¦ç¬¦åˆç»™å®šæ­£åˆ™æ¨¡å¼çš„å¸ƒå°”åºåˆ—ï¼Œå½“ç„¶ï¼Œè¿™äº›ä¹Ÿèƒ½é€šè¿‡åœ¨`str.contains`çš„æ­£åˆ™ä¸­ä½¿ç”¨`^`å’Œ`$`æ¥å®ç°

In [54]:
s = pd.Series(['This is an apple. That is not an apple.'])
s.str.find('apple')

0    11
dtype: int64

In [55]:
s.str.rfind('apple')

0    33
dtype: int64

é™¤äº†ä¸Šè¿°è¿”å›å€¼ä¸ºå¸ƒå°”çš„åŒ¹é…ä¹‹å¤–ï¼Œè¿˜æœ‰ä¸€ç§è¿”å›ç´¢å¼•çš„åŒ¹é…å‡½æ•°ï¼Œå³str.findä¸str.rfindï¼Œå…¶åˆ†åˆ«è¿”å›ä»å·¦åˆ°å³å’Œä»å³åˆ°å·¦ç¬¬ä¸€æ¬¡åŒ¹é…çš„ä½ç½®çš„ç´¢å¼•ï¼Œæœªæ‰¾åˆ°åˆ™è¿”å›-1ã€‚éœ€è¦æ³¨æ„çš„æ˜¯è¿™ä¸¤ä¸ªå‡½æ•°ä¸æ”¯æŒæ­£åˆ™åŒ¹é…ï¼Œåªèƒ½ç”¨äºå­—ç¬¦å­ä¸²çš„åŒ¹é…ã€‚

æˆ‘ä¸€ç›´å¯¹å¸ƒå°”å€¼çš„ä½œç”¨ä¸æ˜¯å¾ˆç†è§£ï¼ŒTrueå’ŒFalseæ˜¯èµ·åˆ°ç»Ÿè®¡å’Œåˆ¤æ–­ä½œç”¨å—ï¼Ÿ

In [56]:
s = pd.Series(['a_1_b','c_?'])
s.str.replace('\d|\?', 'new')

0    a_new_b
1      c_new
dtype: object

In [57]:
s = pd.Series(['ä¸Šæµ·å¸‚é»„æµ¦åŒºæ–¹æµœä¸­è·¯249å·',
                'ä¸Šæµ·å¸‚å®å±±åŒºå¯†å±±è·¯5å·',
                'åŒ—äº¬å¸‚æ˜Œå¹³åŒºåŒ—å†œè·¯2å·'])
pat = '(\w+å¸‚)(\w+åŒº)(\w+è·¯)(\d+å·)'
city = {'ä¸Šæµ·å¸‚': 'Shanghai', 'åŒ—äº¬å¸‚': 'Beijing'}
district = {'æ˜Œå¹³åŒº': 'CP District',
            'é»„æµ¦åŒº': 'HP District',
            'å®å±±åŒº': 'BS District'}
road = {'æ–¹æµœä¸­è·¯': 'Mid Fangbin Road',
        'å¯†å±±è·¯': 'Mishan Road',
        'åŒ—å†œè·¯': 'Beinong Road'}
def my_func(m):
    str_city = city[m.group(1)]
    str_district = district[m.group(2)]
    str_road = road[m.group(3)]
    str_no = 'No. ' + m.group(4)[:-1]
    return ' '.join([str_city,
                     str_district,
                     str_road,
                     str_no])
s.str.replace(pat, my_func)

0    Shanghai HP District Mid Fangbin Road No. 249
1           Shanghai BS District Mishan Road No. 5
2           Beijing CP District Beinong Road No. 2
dtype: object

In [58]:
pat = '(?P<å¸‚å>\w+å¸‚)(?P<åŒºå>\w+åŒº)(?P<è·¯å>\w+è·¯)(?P<ç¼–å·>\d+å·)'
def my_func(m):
    str_city = city[m.group('å¸‚å')]
    str_district = district[m.group('åŒºå')]
    str_road = road[m.group('è·¯å')]
    str_no = 'No. ' + m.group('ç¼–å·')[:-1]
    return ' '.join([str_city,
                     str_district,
                     str_road,
                     str_no])
s.str.replace(pat, my_func)

0    Shanghai HP District Mid Fangbin Road No. 249
1           Shanghai BS District Mishan Road No. 5
2           Beijing CP District Beinong Road No. 2
dtype: object

æ›¿æ¢æ¦‚å¿µè¿˜æ˜¯æ¯”è¾ƒæ¸…æ¥šçš„ï¼Œåˆ©ç”¨å­ç»„çš„æ–¹æ³•ï¼Œå¹¶ä¸”æ­¤æ—¶å¯ä»¥é€šè¿‡ä¼ å…¥è‡ªå®šä¹‰çš„æ›¿æ¢å‡½æ•°æ¥åˆ†åˆ«è¿›è¡Œå¤„ç†ï¼Œæ³¨æ„group(k)ä»£è¡¨åŒ¹é…åˆ°çš„ç¬¬kä¸ªå­ç»„ï¼ˆåœ†æ‹¬å·ä¹‹é—´çš„å†…å®¹ï¼‰ï¼Œèƒ½çœ‹æ‡‚ï¼Œè®©æˆ‘è‡ªå·±å†™å´å†™ä¸å‡ºæ¥çš„ğŸ˜£

In [59]:
pat = '(\w+å¸‚)(\w+åŒº)(\w+è·¯)(\d+å·)'
s.str.extract(pat)

     0    1     2     3
0  ä¸Šæµ·å¸‚  é»„æµ¦åŒº  æ–¹æµœä¸­è·¯  249å·
1  ä¸Šæµ·å¸‚  å®å±±åŒº   å¯†å±±è·¯    5å·
2  åŒ—äº¬å¸‚  æ˜Œå¹³åŒº   åŒ—å†œè·¯    2å·

In [60]:
s = pd.Series(['A135T15,A26S5','B674S2,B25T6'], index = ['my_A','my_B'])
pat = '[A|B](\d+)[T|S](\d+)'
s.str.extractall(pat)

              0   1
     match
my_A 0      135  15
     1       26   5
my_B 0      674   2
     1       25   6

In [61]:
pat_with_name = '[A|B](?P<name1>\d+)[T|S](?P<name2>\d+)'
s.str.extractall(pat_with_name)

           name1 name2
     match
my_A 0       135    15
     1        26     5
my_B 0       674     2
     1        25     6

In [62]:
s.str.findall(pat)

my_A    [(135, 15), (26, 5)]
my_B     [(674, 2), (25, 6)]
dtype: object

æå–æ—¢å¯ä»¥è®¤ä¸ºæ˜¯ä¸€ç§è¿”å›å…·ä½“å…ƒç´ ï¼ˆè€Œä¸æ˜¯å¸ƒå°”å€¼æˆ–å…ƒç´ å¯¹åº”çš„ç´¢å¼•ä½ç½®ï¼‰çš„åŒ¹é…æ“ä½œï¼Œä¹Ÿå¯ä»¥è®¤ä¸ºæ˜¯ä¸€ç§ç‰¹æ®Šçš„æ‹†åˆ†æ“ä½œã€‚å‰é¢æåˆ°çš„str.splitä¾‹å­ä¸­ä¼šæŠŠåˆ†éš”ç¬¦å»é™¤ï¼Œè¿™å¹¶ä¸æ˜¯ç”¨æˆ·æƒ³è¦çš„æ•ˆæœï¼Œè¿™æ—¶å€™å°±å¯ä»¥ç”¨str.extractè¿›è¡Œæå–ï¼Œstr.extractallä¸åŒäºstr.extractåªåŒ¹é…ä¸€æ¬¡ï¼Œå®ƒä¼šæŠŠæ‰€æœ‰ç¬¦åˆæ¡ä»¶çš„æ¨¡å¼å…¨éƒ¨åŒ¹é…å‡ºæ¥ï¼Œå¦‚æœå­˜åœ¨å¤šä¸ªç»“æœï¼Œåˆ™ä»¥å¤šçº§ç´¢å¼•çš„æ–¹å¼å­˜å‚¨ï¼Œstr.findallçš„åŠŸèƒ½ç±»ä¼¼äºstr.extractallï¼ŒåŒºåˆ«åœ¨äºå‰è€…æŠŠç»“æœå­˜å…¥åˆ—è¡¨ä¸­ï¼Œè€Œåè€…å¤„ç†ä¸ºå¤šçº§ç´¢å¼•ï¼Œæ¯ä¸ªè¡Œåªå¯¹åº”ä¸€ç»„åŒ¹é…ï¼Œè€Œä¸æ˜¯æŠŠæ‰€æœ‰åŒ¹é…ç»„åˆæ„æˆåˆ—è¡¨ã€‚

æå–å’Œæ‹†åˆ†è¿˜æ˜¯æœ‰ç‚¹ç±»ä¼¼ï¼Œåªæ˜¯æ‹†åˆ†ä¸ä¿ç•™æ­£åˆ™å†…å®¹ï¼Œè€Œæå–ä¿ç•™äº†æ­£åˆ™å†…å®¹ï¼Œå„æœ‰ç”¨å¤„å§ï¼Œåº”è¯¥æ˜¯æå–æ›´ä¸ºæœ‰ç”¨ä¸€äº›ã€‚

### å¸¸ç”¨å­—ç¬¦ä¸²å‡½æ•°

In [63]:
s = pd.Series(['lower', 'CAPITALS', 'this is a sentence', 'SwApCaSe'])
s.str.upper()   # è½¬ä¸ºå¤§å†™

0                 LOWER
1              CAPITALS
2    THIS IS A SENTENCE
3              SWAPCASE
dtype: object

In [64]:
s.str.lower()   # è½¬ä¸ºå°å†™

0                 lower
1              capitals
2    this is a sentence
3              swapcase
dtype: object

In [65]:
s.str.title()   # å•è¯é¦–å­—æ¯å¤§å†™

0                 Lower
1              Capitals
2    This Is A Sentence
3              Swapcase
dtype: object

In [66]:
s.str.capitalize()    # å¥é¦–å­—æ¯å¤§å†™

0                 Lower
1              Capitals
2    This is a sentence
3              Swapcase
dtype: object

In [67]:
s.str.swapcase()   # è·ŸåŸæ–‡å¤§å°å†™äº’æ¢

0                 LOWER
1              capitals
2    THIS IS A SENTENCE
3              sWaPcAsE
dtype: object

å­—æ¯å‹å‡½æ•°
upper, lower, title, capitalize, swapcaseè¿™äº”ä¸ªå‡½æ•°ä¸»è¦ç”¨äºå­—æ¯çš„å¤§å°å†™è½¬åŒ–

In [68]:
s = pd.Series(['1', '2.2', '2e', '??', '-2.1', '0'])
pd.to_numeric(s, errors='ignore')

0       1
1     2.2
2      2e
3      ??
4    -2.1
5       0
dtype: object

In [69]:
s   # è¿™è½¬æ¢å’ŒåŸæ•°æ®æ²¡åŒºåˆ«å•Šï¼Ÿ

0       1
1     2.2
2      2e
3      ??
4    -2.1
5       0
dtype: object

In [70]:
pd.to_numeric(s, errors='coerce')   # éæ•°å€¼è®¾ä¸ºç¼ºå¤±ï¼Œæ•°æ®ç±»å‹éƒ½è½¬æ¢ä¸ºæµ®ç‚¹å‹

0    1.0
1    2.2
2    NaN
3    NaN
4   -2.1
5    0.0
dtype: float64

In [71]:
s[pd.to_numeric(s, errors='coerce').isna()]   # åœ¨æ•°æ®æ¸…æ´—æ—¶ï¼Œå¯ä»¥åˆ©ç”¨coerceçš„è®¾å®šï¼Œå¿«é€ŸæŸ¥çœ‹éæ•°å€¼å‹çš„è¡Œ

2    2e
3    ??
dtype: object

pd.to_numericæ–¹æ³•ï¼Œå®ƒè™½ç„¶ä¸æ˜¯strå¯¹è±¡ä¸Šçš„æ–¹æ³•ï¼Œä½†æ˜¯èƒ½å¤Ÿå¯¹å­—ç¬¦æ ¼å¼çš„æ•°å€¼è¿›è¡Œå¿«é€Ÿè½¬æ¢å’Œç­›é€‰ã€‚å…¶ä¸»è¦å‚æ•°åŒ…æ‹¬errorså’Œdowncaståˆ†åˆ«ä»£è¡¨äº†éæ•°å€¼çš„å¤„ç†æ¨¡å¼å’Œè½¬æ¢ç±»å‹ã€‚å…¶ä¸­ï¼Œå¯¹äºä¸èƒ½è½¬æ¢ä¸ºæ•°å€¼çš„æœ‰ä¸‰ç§errorsé€‰é¡¹ï¼Œraise, coerce, ignoreåˆ†åˆ«è¡¨ç¤ºç›´æ¥æŠ¥é”™ã€è®¾ä¸ºç¼ºå¤±ä»¥åŠä¿æŒåŸæ¥çš„å­—ç¬¦ä¸²ã€‚

In [72]:
s = pd.Series(['cat rat fat at', 'get feed sheet heat'])
s.str.count('[r|f]at|ee')

0    2
1    2
dtype: int64

In [73]:
s.str.findall('[r|f]at|ee')    # æ„æ€æ²¡ç†è§£é€ï¼Œç¬¬äºŒä¸ªå­—ç¬¦ä¸²æ²¡æƒ³æ˜ç™½ä¸ºä»€ä¹ˆæ˜¯2ï¼Œç°åœ¨çŸ¥é“æ˜¯[r|f]æŒ‡çš„æ˜¯rå’Œfå¯æœ‰å¯æ—

0    [rat, fat]
1      [ee, ee]
dtype: object

In [74]:
s.str.len()   # è¿™ä¸ªé•¿åº¦åŒ…å«ç©ºæ ¼

0    14
1    19
dtype: int64

countå’Œlençš„ä½œç”¨åˆ†åˆ«æ˜¯è¿”å›å‡ºç°æ­£åˆ™æ¨¡å¼çš„æ¬¡æ•°å’Œå­—ç¬¦ä¸²çš„é•¿åº¦

In [75]:
my_index = pd.Index([' col1', 'col2 ', ' col3 '])
my_index.str.strip().str.len()   # å»å·¦å³ç©ºæ ¼

Int64Index([4, 4, 4], dtype='int64')

In [76]:
my_index.str.rstrip().str.len()   # å»å³ç©ºæ ¼

Int64Index([5, 4, 5], dtype='int64')

In [77]:
my_index.str.lstrip().str.len()   # å»å·¦ç©ºæ ¼

Int64Index([4, 5, 5], dtype='int64')

æ ¼å¼å‹å‡½æ•°ä¸»è¦åˆ†ä¸ºä¸¤ç±»ï¼Œç¬¬ä¸€ç§æ˜¯é™¤ç©ºå‹ï¼Œç¬¬äºŒç§æ—¶å¡«å……å‹ã€‚å…¶ä¸­ï¼Œç¬¬ä¸€ç±»å‡½æ•°ä¸€å…±æœ‰ä¸‰ç§ï¼Œå®ƒä»¬åˆ†åˆ«æ˜¯strip, rstrip, lstripï¼Œåˆ†åˆ«ä»£è¡¨å»é™¤ä¸¤ä¾§ç©ºæ ¼ã€å³ä¾§ç©ºæ ¼å’Œå·¦ä¾§ç©ºæ ¼ã€‚è¿™äº›å‡½æ•°åœ¨æ•°æ®æ¸…æ´—æ—¶æ˜¯æœ‰ç”¨çš„ï¼Œç‰¹åˆ«æ˜¯åˆ—åå«æœ‰éæ³•ç©ºæ ¼çš„æ—¶å€™ã€‚

In [78]:
s = pd.Series(['a','b','c'])
s.str.pad(5,'left','*')

0    ****a
1    ****b
2    ****c
dtype: object

In [79]:
s.str.pad(5,'right','*')

0    a****
1    b****
2    c****
dtype: object

In [80]:
s.str.pad(5,'both','*')

0    **a**
1    **b**
2    **c**
dtype: object

å¯¹äºå¡«å……å‹å‡½æ•°è€Œè¨€ï¼Œpadæ˜¯æœ€çµæ´»çš„ï¼Œå®ƒå¯ä»¥é€‰å®šå­—ç¬¦ä¸²é•¿åº¦ã€å¡«å……çš„æ–¹å‘å’Œå¡«å……å†…å®¹ï¼Œä»¥ä¸‹æ˜¯ç™¾åº¦ç»“æœï¼š

ç”¨æ³•ï¼š
Series.str.pad(self, width, side='left', fillchar=' ')
å°† Series /ç´¢å¼•ä¸­çš„å­—ç¬¦ä¸²å¡«å……åˆ°å®½åº¦ã€‚

å‚æ•°ï¼š
widthï¼šint
äº§ç”Ÿçš„å­—ç¬¦ä¸²çš„æœ€å°å®½åº¦ï¼›å…¶ä»–å­—ç¬¦å°†ç”¨å®šä¹‰çš„å­—ç¬¦å¡«å……fillcharã€‚

sideï¼š{â€˜leftâ€™, â€˜rightâ€™, â€˜bothâ€™}, é»˜è®¤ä¸º â€˜leftâ€™
ä»å“ªä¸€ä¾§å¡«å……ç»“æœå­—ç¬¦ä¸²ã€‚

fillcharï¼šstr, é»˜è®¤ä¸º â€˜ â€˜
å¡«å……çš„é™„åŠ å­—ç¬¦ï¼Œé»˜è®¤ä¸ºç©ºæ ¼ã€‚

è¿”å›å€¼ï¼š
Series
è¿”å›å¸¦æœ‰å¯¹è±¡ä¸­æœ€å°‘å­—ç¬¦æ•°çš„Seriesæˆ–Indexã€‚

In [81]:
s.str.rjust(5, '*')

0    ****a
1    ****b
2    ****c
dtype: object

In [82]:
s.str.ljust(5, '*')

0    a****
1    b****
2    c****
dtype: object

In [83]:
s.str.center(5, '*')

0    **a**
1    **b**
2    **c**
dtype: object

ç”¨rjust, ljust, centeræ¥ç­‰æ•ˆå®Œæˆpadçš„ç›¸å…³åŠŸèƒ½ï¼Œéœ€è¦æ³¨æ„ljustæ˜¯æŒ‡å³ä¾§å¡«å……è€Œä¸æ˜¯å·¦ä¾§å¡«å……

In [84]:
s = pd.Series([7, 155, 303000]).astype('string')
s.str.pad(6,'left','0')

0    000007
1    000155
2    303000
dtype: string

In [85]:
s.str.rjust(6,'0')

0    000007
1    000155
2    303000
dtype: string

In [86]:
s.str.zfill(6)

0    000007
1    000155
2    303000
dtype: string

åœ¨è¯»å–excelæ–‡ä»¶æ—¶ï¼Œç»å¸¸ä¼šå‡ºç°æ•°å­—å‰è¡¥0çš„éœ€æ±‚ï¼Œä¾‹å¦‚è¯åˆ¸ä»£ç è¯»å…¥çš„æ—¶å€™ä¼šæŠŠ"000007"ä½œä¸ºæ•°å€¼7æ¥å¤„ç†ï¼Œpandasä¸­é™¤äº†å¯ä»¥ä½¿ç”¨ä¸Šé¢çš„å·¦ä¾§å¡«å……å‡½æ•°è¿›è¡Œæ“ä½œä¹‹å¤–ï¼Œè¿˜å¯ç”¨zfillæ¥å®ç°ã€‚

æœŸä¸­æµ‹è¯•çš„è‚¡ç¥¨ä»£ç è½¬æ¢æ˜¯ä¸æ˜¯è¿˜æœ‰å…¶å®ƒæ–¹æ³•æ¥å¤„ç†ï¼Ÿ

## ç»ƒä¹ 
### Ex1ï¼šæˆ¿å±‹ä¿¡æ¯æ•°æ®é›†
ç°æœ‰ä¸€ä»½æˆ¿å±‹ä¿¡æ¯æ•°æ®é›†å¦‚ä¸‹ï¼š

In [87]:
df = pd.read_excel('../data/house_info.xls', usecols=['floor','year','area','price'])
df.head(3)

      floor    year    area price
0   é«˜å±‚ï¼ˆå…±6å±‚ï¼‰  1986å¹´å»º  58.23ã¡  155ä¸‡
1  ä¸­å±‚ï¼ˆå…±20å±‚ï¼‰  2020å¹´å»º     88ã¡  155ä¸‡
2  ä½å±‚ï¼ˆå…±28å±‚ï¼‰  2010å¹´å»º  89.33ã¡  365ä¸‡

1. å°†`year`åˆ—æ”¹ä¸ºæ•´æ•°å¹´ä»½å­˜å‚¨ã€‚
2. å°†`floor`åˆ—æ›¿æ¢ä¸º`Level, Highest`ä¸¤åˆ—ï¼Œå…¶ä¸­çš„å…ƒç´ åˆ†åˆ«ä¸º`string`ç±»å‹çš„å±‚ç±»åˆ«ï¼ˆé«˜å±‚ã€ä¸­å±‚ã€ä½å±‚ï¼‰ä¸æ•´æ•°ç±»å‹çš„æœ€é«˜å±‚æ•°ã€‚
3. è®¡ç®—æˆ¿å±‹æ¯å¹³ç±³çš„å‡ä»·`avg_price`ï¼Œä»¥`***å…ƒ/å¹³ç±³`çš„æ ¼å¼å­˜å‚¨åˆ°è¡¨ä¸­ï¼Œå…¶ä¸­`***`ä¸ºæ•´æ•°ã€‚

In [88]:
df.year = df.year.str.extract('(\d+)')
df.year

0        1986
1        2020
2        2010
3        2014
4        2015
         ...
31563    2010
31564    2006
31565    2011
31566    2006
31567    2008
Name: year, Length: 31568, dtype: object

In [89]:
df.year = pd.to_numeric(df.year).astype('Int64')
df.year

0        1986
1        2020
2        2010
3        2014
4        2015
         ...
31563    2010
31564    2006
31565    2011
31566    2006
31567    2008
Name: year, Length: 31568, dtype: Int64

In [90]:
df.head()

      floor  year    area price
0   é«˜å±‚ï¼ˆå…±6å±‚ï¼‰  1986  58.23ã¡  155ä¸‡
1  ä¸­å±‚ï¼ˆå…±20å±‚ï¼‰  2020     88ã¡  155ä¸‡
2  ä½å±‚ï¼ˆå…±28å±‚ï¼‰  2010  89.33ã¡  365ä¸‡
3  ä½å±‚ï¼ˆå…±20å±‚ï¼‰  2014     82ã¡  308ä¸‡
4   é«˜å±‚ï¼ˆå…±1å±‚ï¼‰  2015     98ã¡  117ä¸‡

åªèƒ½èµ¶åˆ°è¿™äº†ï¼Œä¸€åº¦æƒ³è¦æ”¾å¼ƒï¼Œæƒ³æƒ³å­¦äº†é‚£ä¹ˆä¹…ï¼Œå®åœ¨æ˜¯å¯æƒœï¼Œå°½åŠ›å»åšæŒï¼Œé‚£æ€•æ˜¯å­¦ä¸€ç‚¹ç‚¹ï¼ŒåŠªåŠ›ğŸ’ªğŸ’ª